// Reset and vendors
@import "vendors/reset";

// Utils
@import "utils/vars";
@import "utils/fonts";
@import "utils/mixins";

// Layout
@import "layout/base";

// Ui
@import "ui/btn";

// Global
@import "global";

// Components
@import "components/header";
@import "components/welcome";
@import "components/about";
@import "components/service";
@import "components/footer";

// Pages
