@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Lexend+Deca:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

html {
  font-size: 1px;
  scroll-behavior: smooth;
}
@media (max-width: 576px) {
  html {
    font-size: 0.8px;
  }
}

body {
  font-family: "Lexend Deca", sans-serif;
  background: #020617;
  color: #fff;
}

.container {
  max-width: calc(1108px + 40px);
  padding: 0 20px;
  margin-inline: auto;
}

.btn {
  padding: 8px 20px;
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 4px;
  background: #facc15;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  transition: 0.2s all ease-in-out;
}
@media (min-width: 992px) {
  .btn:hover {
    background: #fbd747;
  }
}

.header {
  padding: 16px 0;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header__logo {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  display: flex;
}
.header__logo span {
  color: #eab308;
}
.header__menu {
  display: none;
  font-size: 40px;
  color: #fff;
}
@media (max-width: 992px) {
  .header__menu {
    display: inline-block;
  }
}
.header__close {
  display: none;
  font-size: 40px;
  color: #000;
  position: absolute;
  top: 20px;
  right: 20px;
}
@media (max-width: 992px) {
  .header__close {
    display: inline-block;
  }
}
.header__nav {
  display: flex;
  gap: 27px;
  align-items: center;
}
@media (max-width: 992px) {
  .header__nav {
    position: fixed;
    z-index: 2;
    min-width: 250px;
    width: 30%;
    height: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    background: #eab308;
    justify-content: center;
    transition: 0.2s all ease-in-out;
    transform: translateX(-120%);
  }
  .header__nav.is-active {
    transform: translateX(0);
  }
}
.header__a {
  color: #9ca3af;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  transition: 0.2s all ease-in-out;
}
@media (max-width: 992px) {
  .header__a {
    color: #000;
  }
}
.header__a.is-active, .header__a:hover {
  color: #fff;
}

.welcome {
  padding: 96px 0;
  padding-right: 18px;
  background: #111827;
}
@media (max-width: 576px) {
  .welcome {
    padding: 60px 0;
  }
}
.welcome .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 576px) {
  .welcome .container {
    flex-direction: column-reverse;
  }
}
.welcome__hello {
  color: #eab308;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 24px;
}
.welcome__name {
  color: #f3f4f6;
  font-size: 42rem;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 8px;
}
.welcome__role {
  max-width: 466px;
  color: #6b7280;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 24px;
}
.welcome__img {
  flex-shrink: 0;
}
@media (max-width: 992px) {
  .welcome__img {
    flex-shrink: inherit;
  }
}

.about {
  padding: 96px 0;
}
@media (max-width: 576px) {
  .about {
    padding: 60px 0;
  }
}
.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 89px;
}
@media (max-width: 992px) {
  .about .container {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .about .container {
    flex-direction: column;
  }
}
.about__img {
  display: flex;
  flex-shrink: 0;
  position: relative;
  padding-left: 35px;
}
@media (max-width: 768px) {
  .about__img {
    flex-shrink: inherit;
  }
}
@media (max-width: 576px) {
  .about__img {
    padding: 0;
  }
}
.about__img-main {
  z-index: 1;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .about__img-main {
    flex-shrink: inherit;
    margin-bottom: 35px;
  }
}
.about__img-backdrop {
  position: absolute;
  top: 10px;
  right: 35px;
  max-width: 475px;
}
@media (max-width: 576px) {
  .about__img-backdrop {
    right: 20px;
  }
}
.about__title {
  color: #f3f4f6;
  font-size: 42rem;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 32px;
}
.about__title span {
  color: #eab308;
}
.about__role, .about__desc {
  color: #6b7280;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 18px;
}
.about__role {
  max-width: 461px;
}
@media (max-width: 768px) {
  .about__role {
    max-width: 100%;
  }
}
.about__desc {
  margin-bottom: 40px;
}
.about__btn {
  padding: 16px 20px;
}

.service {
  padding: 96px 0;
  background: #111827;
}
@media (max-width: 768px) {
  .service {
    padding: 60px 0;
  }
}
.service__title {
  color: #f3f4f6;
  font-size: 42rem;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 24px;
}
.service__title span {
  color: #eab308;
}
.service__desc {
  color: #6b7280;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  max-width: 461px;
  margin-bottom: 56px;
}
.service .service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 768px) {
  .service .service-list {
    grid-template-columns: 1fr;
  }
}
.service .service-item {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #020617;
  border-radius: 12px;
}
@media (min-width: 992px) {
  .service .service-item {
    transition: 0.2s all ease-in-out;
  }
  .service .service-item:hover {
    transform: translateY(-10px);
  }
}
.service .service-item__img {
  width: 40px;
  height: 40px;
  margin-bottom: 32px;
}
.service .service-item__title {
  color: #f3f4f6;
  text-align: center;
  font-size: 26rem;
  font-weight: 700;
  line-height: 41px;
  max-width: 204px;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .service .service-item__title {
    max-width: 100%;
  }
}
.service .service-item__desc {
  color: #6b7280;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.footer {
  padding: 56px 0;
}
.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__title {
  color: #fff;
  text-align: center;
  font-size: 40rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.footer__desc {
  color: #9ca3af;
  text-align: center;
  font-size: 16rem;
  font-weight: 400;
  line-height: 27px;
  max-width: 685px;
  margin-bottom: 56px;
}
.footer__icons {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (min-width: 992px) {
  .footer__a {
    transition: 0.2s all ease-in-out;
  }
  .footer__a:hover {
    transform: translateY(-5px);
  }
}

.portfolio {
  padding: 96px 0;
}
@media (max-width: 768px) {
  .portfolio {
    padding: 60px 0;
  }
}
.portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__title {
  color: #f3f4f6;
  text-align: center;
  font-size: 42rem;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 24px;
}
.portfolio__title span {
  color: #eab308;
}
.portfolio__desc {
  color: #9ca3af;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  max-width: 461px;
  margin-bottom: 80px;
}
.portfolio__projects {
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "portfolio1 portfolio1 portfolio2 portfolio3" "portfolio1 portfolio1 portfolio4 portfolio5";
}
@media (max-width: 768px) {
  .portfolio__projects {
    grid-template-columns: auto auto;
    grid-template-areas: "portfolio1 portfolio1" "portfolio2 portfolio3" "portfolio4 portfolio5";
  }
}
@media (min-width: 992px) {
  .portfolio__img {
    transition: 0.2s all ease-in-out;
  }
  .portfolio__img:hover {
    transform: translateY(-10px);
  }
}
.portfolio__img_1 {
  grid-area: portfolio1;
}
.portfolio__img_2 {
  grid-area: portfolio2;
}
.portfolio__img_3 {
  grid-area: portfolio3;
}
.portfolio__img_4 {
  grid-area: portfolio4;
}
.portfolio__img_5 {
  grid-area: portfolio5;
}

.experiences {
  padding: 85px 0;
  background: #111827;
}
@media (max-width: 768px) {
  .experiences {
    padding: 60px 0;
  }
}
.experiences__title {
  color: #f3f4f6;
  font-family: "Arvo", serif;
  font-size: 42rem;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 24px;
}
.experiences__title span {
  color: #eab308;
}
.experiences__desc {
  color: #9ca3af;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  max-width: 730px;
  margin-bottom: 80px;
}
.experiences .experiences-list {
  display: grid;
  grid-template-columns: 33% 29% 33%;
  gap: 29px;
}
@media (max-width: 768px) {
  .experiences .experiences-list {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 992px) {
  .experiences .experiences-list__a {
    transition: 0.2s all ease-in-out;
  }
  .experiences .experiences-list__a:hover {
    transform: translateY(-10px);
  }
}
.experiences .experiences-item {
  padding: 32px;
  background: #020617;
  border-radius: 12px;
}
.experiences .experiences-item__date {
  color: #d1d5db;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 8px;
}
.experiences .experiences-item__role {
  color: #eab308;
  font-size: 26rem;
  font-weight: 700;
  line-height: 41px;
  margin-bottom: 4px;
}
.experiences .experiences-item__title {
  color: #d1d5db;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 8px;
}
.experiences .experiences-item__desc {
  color: #6b7280;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  padding: 8px;
}

.contact {
  padding: 96px 0;
}
@media (max-width: 768px) {
  .contact {
    padding: 60px 0;
  }
}
.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__title {
  color: #f3f4f6;
  text-align: center;
  font-size: 42rem;
  font-weight: 700;
  line-height: 64px;
  margin-bottom: 24px;
}
.contact__title span {
  color: #eab308;
}
.contact__desc {
  color: #9ca3af;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  max-width: 685px;
  margin-bottom: 56px;
}
.contact .contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
@media (max-width: 576px) {
  .contact .contact-container {
    flex-direction: column;
    align-items: stretch;
  }
}
.contact .info {
  color: #f3f4f6;
  font-size: 16px;
  font-weight: 400;
  line-height: 41px;
}
.contact .info span {
  color: #eab308;
  font-weight: 700;
}
.contact .contact-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact .contact-info__address {
  max-width: 347px;
}
.contact .contact-form {
  width: 50%;
}
@media (max-width: 576px) {
  .contact .contact-form {
    width: 100%;
  }
}
.contact .contact-form__input {
  display: block;
  background: #1f2937;
  border: 0;
  outline: 0;
  padding: 11px 18px;
  width: 100%;
  max-width: 350px;
  color: #f3f4f6;
  font-family: Lexend Deca;
  font-size: 16px;
  font-weight: 400;
  line-height: 41px;
  margin-bottom: 32px;
}
@media (max-width: 576px) {
  .contact .contact-form__input {
    max-width: 100%;
  }
}
.contact .contact-form__textarea {
  background: #1f2937;
  border: 0;
  outline: 0;
  padding: 11px 18px;
  width: 100%;
  color: #f3f4f6;
  font-family: Lexend Deca;
  font-size: 16px;
  font-weight: 400;
  line-height: 41px;
  min-height: 166px;
  margin-bottom: 32px;
  resize: none;
}
.contact .contact-form__btn {
  padding: 16px 20px;
  font-family: Lexend Deca;
}

/*# sourceMappingURL=style.css.map */
