$ff-main: "Lexend Deca", sans-serif;
$ff-reserve: "Arvo", serif;

// const colors
$white: #fff;
$black: #000;
$body-color: $white;
$body-bg: #020617;
$color-name: #f3f4f6;
$section-bg: #111827;
$color-role: #6b7280;
$primary-color: #eab308;
$btn-bg: #facc15;
$btn-text-color: $black;
$header-link: #9ca3af;
$header-link-active: $white;

$btn-radius: 4px;

$transition: 0.2s all ease-in-out;

$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;
