.btn {
  padding: 8px 20px;
  display: inline-block;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: $btn-radius;
  background: $btn-bg;
  color: $btn-text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  transition: $transition;
  @include tablet-min {
    &:hover {
      background: lighten($btn-bg, 10%);
    }
  }
}
