html {
  font-size: 1px;
  scroll-behavior: smooth;
  @include mobile {
    font-size: 0.8px;
  }
}

body {
  font-family: $ff-main;
  background: $body-bg;
  color: $body-color;
}

.container {
  max-width: calc(1108px + 40px);
  padding: 0 20px;
  margin-inline: auto;
}
