.contact {
  padding: 96px 0;
  @include tablet-small {
    padding: 60px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $color-name;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 24px;
    span {
      color: $primary-color;
    }
  }

  &__desc {
    color: $header-link;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    max-width: 685px;
    margin-bottom: 56px;
  }

  .contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    @include mobile {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .info {
    color: $color-name;
    font-size: 16px;
    font-weight: 400;
    line-height: 41px;
    span {
      color: $primary-color;
      font-weight: 700;
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__address {
      max-width: 347px;
    }
  }

  .contact-form {
    width: 50%;
    @include mobile {
      width: 100%;
    }

    &__input {
      display: block;
      background: #1f2937;
      border: 0;
      outline: 0;
      padding: 11px 18px;
      width: 100%;
      max-width: 350px;
      color: $color-name;
      font-family: Lexend Deca;
      font-size: 16px;
      font-weight: 400;
      line-height: 41px;
      margin-bottom: 32px;
      @include mobile {
        max-width: 100%;
      }
    }

    &__textarea {
      background: #1f2937;
      border: 0;
      outline: 0;
      padding: 11px 18px;
      width: 100%;
      color: $color-name;
      font-family: Lexend Deca;
      font-size: 16px;
      font-weight: 400;
      line-height: 41px;
      min-height: 166px;
      margin-bottom: 32px;
      resize: none;
    }

    &__btn {
      padding: 16px 20px;
    }
  }
}
