.experiences {
  padding: 85px 0;
  background: $section-bg;
  @include tablet-small {
    padding: 60px 0;
  }

  &__title {
    color: $color-name;
    font-family: $ff-reserve;
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 24px;
    span {
      color: $primary-color;
    }
    @include mobile {
      font-size: 35px;
    }
  }

  &__desc {
    color: $header-link;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    max-width: 730px;
    margin-bottom: 80px;
  }

  .experiences-list {
    display: grid;
    grid-template-columns: 33% 29% 33%;
    gap: 29px;
    @include tablet-small {
      grid-template-columns: 1fr;
    }

    &__a {
      @include tablet-min {
        transition: $transition;
        &:hover {
          transform: translateY(-10px);
        }
      }
    }
  }

  .experiences-item {
    padding: 32px;
    background: $body-bg;
    border-radius: 12px;

    &__date {
      color: $color-date;
      font-size: 20px;
      font-weight: 400;
      line-height: 27px;
      margin-bottom: 8px;
    }

    &__role {
      color: $primary-color;
      font-size: 26px;
      font-weight: 700;
      line-height: 41px;
      margin-bottom: 4px;
    }

    &__title {
      color: $color-date;
      font-size: 16px;
      font-weight: 700;
      line-height: 27px;
      margin-bottom: 8px;
    }

    &__desc {
      color: $color-role;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      padding: 8px;
    }
  }
}
