.footer {
  padding: 56px 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $white;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    @include tablet-small {
      font-size: 30px;
    }
  }

  &__desc {
    color: $header-link;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    max-width: 685px;
    margin-bottom: 56px;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
