.welcome {
  padding: 96px 0;
  padding-right: 18px;
  background: $section-bg;
  @include mobile {
    padding: 60px 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    @include mobile {
      flex-direction: column-reverse;
    }
  }
  &__hello {
    color: $primary-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 24px;
  }

  &__name {
    color: $color-name;
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 8px;
  }

  &__role {
    max-width: 466px;
    color: $color-role;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 24px;
  }

  &__img {
    flex-shrink: 0;
    @include tablet {
      flex-shrink: inherit;
    }
  }
}
